
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://github.com/wesujs"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/wesujs"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2022 illest Corporation</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery import -->
    <script src="js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap import -->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugins import-->
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="js/custom.js"></script>
    <script src="https://kit.fontawesome.com/ce9e4619d8.js" crossorigin="anonymous"></script>

  </body>
</html>