<%- include("partials/head") %>


<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>




<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <a href="#" class="logo" style="color: rgb(119, 0, 255);">
                        <i class="fa-brands fa-cloudsmith" style="color: black;"></i> illest
                    </a>


                    <ul class="nav">
                        <li><a href="#Welcome" class="active">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Staff">Staff</a></li>
                        <li><a href="#Events">Events</a></li>
                        <li><a href="#Socials">Socials</a></li>
                        <li><a href="#contact-us">Contact Us</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                </nav>
            </div>
        </div>
    </div>
</header>



<div class="welcome-section" id="Welcome">


    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>We are the <strong>illest!</strong><br>Your new favorite <strong>server!</strong></h1>
                    <p>illest® is a semi-toxic hangout server to play games, chill, and socialize with people of a
                        variety of personalities. We are a 16+ server so it is preferred that you are such.</p>
                    <a target="_blank" href="https://www.discord.com/illest/" class="main-button-slider">join now!</a>
                    <br>
                    <br>
                    <a target="_blank" href="#About" class="main-button-slider">find out more!</a>
                </div>
            </div>
        </div>
    </div>

</div>



<section class="section welcome-section-about-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="about-item">
                            <div class="icon">
                                <i><img src="/images/about.png" alt=""></i>
                            </div>
                            <h5 class="about-item-title">Diversity</h5>
                            <p>A server filled with people from all nations of the world. Everyone is welcome to join
                                our evergrowing server.</p>
                        </div>
                    </div>
                    

                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="about-item">
                            <div class="icon">
                                <i><img src="/images/about.png" alt=""></i>
                            </div>
                            <h5 class="about-item-title">Server Life</h5>
                            <p>a semi-toxic hangout server to play games, chill, and socialize with people of a variety
                                of personalities. We are a 16+ server so it is preferred that you are such.</p>
                        </div>
                    </div>
                    

                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                        data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="about-item">
                            <div class="icon">
                                <i><img src="/images/about.png" alt=""></i>
                            </div>
                            <h5 class="about-item-title">LGBTQ+ Friendly</h5>
                            <p>The owner is a bisexual man who is very open to all members of the LGBTQ+ community. No
                                shame towards anyone of any gender, just open arms and love.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section padding-top-70 padding-bottom-0" id="About">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="/images/imageL.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Rules</h2>
                </div>
                <div class="left-text">
                    <p>・No dm advertising or promoting any others server. <br>
                        ・No harrassing of other members of the server. <br>
                        ・No doxxing or leaking information of personal information. <br>
                        ・Post Content in the relevant channels so that everything is organized. <br>
                        ・No nsfw unless it’s in a nsfw marked channel. <br>
                        ・No raiding of any sort to the server. <br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>



<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">What we have to offer</h2>
                </div>
                <div class="left-text">
                    <p>🦋  ﹒Lit, Chill & Funny Community <br>
                        🐇  ﹒Active Voice Channel’s  <br>
         ⭐️  ﹒ Talkative Active Members <br>
                        🚀  ﹒500+ Sexy Emotes <br>
         💕  ﹒ Lit Server Events + Giveaways Every Week <br>
                        👾  ﹒We Play Brawlhalla, Valorant & etc. <br></p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="/images/imageR.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>


<section class="mini" id="Staff">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Staff</h1>
                        <p>These are the current administrators of the illest server!</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a target="_blank" href="https://www.discord.com/users/653938999420911636" class="mini-box">
                        <i><img src="/images/staff-1.png" alt=""></i>
                        <strong>Juztin</strong>
                        <span>Presidents ^ 👑</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a target="_blank" href="https://www.discord.com/users/474982930712625155" class="mini-box">
                        <i><img src="/images/staff-1.png" alt=""></i>
                        <strong>Max</strong>
                        <span>Presidents ^ 👑</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a target="_blank" href="https://www.discord.com/users/703112459313217556" class="mini-box">
                        <i><img src="/images/staff-1.png" alt=""></i>
                        <strong>Wes</strong>
                        <span>Wardens ^ ☔</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a target="_blank" href="https://www.discord.com/users/400848841232089098" class="mini-box">
                        <i><img src="/images/staff-1.png" alt=""></i>
                        <strong>Aqua</strong>
                        <span>Wardens ^ ☔</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a target="_blank" href="https://www.discord.com/users/825594463023136768" class="mini-box">
                        <i><img src="/images/staff-1.png" alt=""></i>
                        <strong>Senia</strong>
                        <span>Wardens ^ ☔</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a target="_blank" href="https://www.discord.com/users/739999460477632532" class="mini-box">
                        <i><img src="/images/staff-1.png" alt=""></i>
                        <strong>Angel</strong>
                        <span>Wardens ^ ☔</span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</section>



<section class="section" id="Events">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Events</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>We have a long list of great events that we host on a weekly basis to bring more engagement to our server, letting anyone and everyone join in on the fun!</p>
                </div>
            </div>
        </div>
        

        <div class="row">
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="events-item">
                    <div class="events-content">
                        <i><img src="/images/chat-icon.png" alt=""></i>
                        <p><strong>Talent Shows</strong></p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name" style="text-align: center;">Hosted by:</h3>
                            <span>Max</span>
                        </div>
                    </div>
                </div>
            </div>
            

            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="events-item">
                    <div class="events-content">
                        <i><img src="/images/chat-icon.png" alt=""></i>
                        <p style="text-align: center;"><strong>Themed Fight Night</strong></p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name" style="text-align: center;">Hosted By:</h3>
                            <span style="text-align: center;">Desired</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="events-item">
                    <div class="events-content">
                        <i><img src="/images/chat-icon.png" alt=""></i>
                        <p style="text-align: center;"><strong>Movie Nights</strong></p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name" style="text-align: center;">Hosted By:</h3>
                            <span style="text-align: center;">Wes</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="section colored" id="Socials">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Socials</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>This is where you can reach the owner Juztin at outside of discord!</p>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="socials-item">
                    <div class="socials-header">
                        <h3 class="socials-location">Instagram</h3>
                    </div>
                    <div class="socials-body">
                        <div class="socials-wrap">
                            <span class="social-name">juztin_x</span>
                            <span class="period"><i class="fa-brands fa-instagram"></i></i></span>
                        </div>
                    </div>
                    <div class="socials-footer">
                        <a href="https://www.instagram.com/juztin_x" class="main-button">FOLLOW HERE</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="socials-item">
                    <div class="socials-header">
                        <h3 class="socials-location">Twitch</h3>
                    </div>
                    <div class="socials-body">
                        <div class="socials-wrap">
                            <span class="social-name">juztinhd</span>
                            <span class="period"><i class="fa-brands fa-twitch"></i></span>
                        </div>
                    </div>
                    <div class="socials-footer">
                        <a href="https://www.twitch.com/juztinhd" class="main-button">FOLLOW HERE</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                <div class="socials-item">
                    <div class="socials-header">
                        <h3 class="socials-location">Discord</h3>
                    </div>
                    <div class="socials-body">
                        <div class="socials-wrap">
                            <span class="social-name">Juztin</span>
                            <span class="period"><i class="fa-brands fa-discord"></i></span>
                        </div>
                    </div>
                    <div class="socials-footer">
                        <a href="https://www.discord.com/users/653938999420911636" class="main-button">FOLLOW HERE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>7400</strong>
                        <span>Members</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-top">
                        <strong>275</strong>
                        <span>Partners</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>48</strong>
                        <span>Staff</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>41</strong>
                        <span>Countries</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include("partials/footer") %>